.dietary-restriction{

}

.weather-forecast{
    display: none;
}

.recipes{
    display: none;
}

.recipe-page {
    display: none;
}

h1{
    text-align: center;
}
#firstPage{
    
}
#search-bar{
  
}

#searchBtn{
    
}

.card-header {
    text-align: center;
}

